/* Put your custom CSS here */
.left {
    margin: 5px 2px 2px 0px !important;
    float: left !important;
}

/* Make the sidenote column larger */
.c-textbook__content, .c-textbook__footer {
    max-width: 1100px;
}

svg:not(:root), .output_png img, div.text_cell_render>p>img, div.text_cell_render>p>a>img {
    max-width: 100%;
}

div.text_cell_render>p>img[alt=half-width], div.text_cell_render>p>a>img[alt=half-width] {
    width: 300px;
}

@media (min-width: 64em) {
    div.jb_cell {
        width: 60%;
    }

    div.jb_cell.tag_popout {
        width: calc(100% - 60%);
    }
}
